{
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false,
        "parser": "angular"
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
