@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#selection-options {
  border-bottom: none;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;

  .option-name {
    margin-bottom: 0.5rem;
  }

  .btn {
    border-right: var(--border-xsm) solid var(--gray-600);

    &:last-child {
      border-right: none;
    }
  }

  .cal-navigation {
    .btn-primary {
      &:hover,
      &:active {
        background-color: var(--blue);
      }
    }
  }
}

#calendar {
  overflow: clip;

  #calendar-header {
    margin: 0rem;
    position: sticky;
    top: 0;
    z-index: 9000;
    background-color: var(--white);
    box-shadow: 0px 0px 3px 0px var(--gray-500);

    &.month .day {
      flex: 1;

      &::before {
        content: none;
      }

      &:first-child::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          var(--gray-100),
          var(--gray-500)
        );
      }
    }

    & .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem;
      padding-bottom: 0.25rem;
      border-bottom: var(--border-xsm) solid var(--gray-500);
      position: relative;
      flex: 0 0 auto;
      width: calc(90% / 7);

      &.hour-labels {
        flex: 0 0 auto;
        width: 10%;
      }

      &.current-day {
        background-image: linear-gradient(
          to bottom,
          var(--white),
          rgba(0, 113, 227, 0.3)
        );
        font-weight: bold;
      }

      & .day-name {
        font-size: var(--font-sm);
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          var(--gray-100),
          var(--gray-500)
        );
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        right: 0;
        width: 1px;
        height: 100vh;
        background-color: var(--gray-500);
      }
    }
  }

  #calendar-body {
    font-size: var(--font-xsm);
    color: var(--gray-700);
    overflow: hidden;
    position: relative;
    display: flex;

    &.month {
      flex-direction: column;
      border-left: var(--border-xsm) solid var(--gray-500);
    }

    & .hours {
      flex: 0 0 auto;
      width: 10%;

      & .hour {
        text-align: center;
        max-width: 75px;
        padding: 0.5rem 0rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: 0;
          left: 0;
          width: 100vw;
          height: 1px;
          background-color: var(--gray-400);
        }

        &.current-hour {
          background-color: rgba(0, 113, 227, 0.2);
          font-weight: bold;
        }
      }
    }

    & .divisions {
      position: relative;
      flex: 0 0 auto;
      width: 90%;
      cursor: pointer;

      & .hover-div {
        background-color: var(--light-blue);
        position: absolute;
        animation: fade-in 200ms;
      }
    }

    & .week {
      margin: 0rem;

      & .day {
        text-align: center;
        min-height: 64px;
        padding: 0rem;
        flex: 1;
        border-bottom: var(--border-xsm) solid var(--gray-500);
        border-right: var(--border-xsm) solid var(--gray-500);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: start;

        &.not-current-month {
          color: var(--gray-600);
          cursor: default;

          & .date::after {
            display: none;
          }
        }

        &.current-day {
          & .date {
            font-weight: bold;
            background-image: linear-gradient(
              to right,
              var(--white),
              rgba(0, 113, 227, 0.2),
              var(--white)
            );
          }
        }

        & .date {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(
              to right,
              var(--gray-100) 25%,
              var(--gray-400) 50%,
              var(--gray-100) 75%
            );
          }
        }

        & .divisions {
          position: relative;
          width: 100%;
          height: 75%;

          & .hover-div {
            background-color: var(--light-blue);
            position: absolute;
            animation: fade-in 200ms;
          }
        }
      }
    }
  }
}
