<div class="container">
  <h4 class="text-center my-4">Thank you for your feedback!</h4>
  <p class="text-center">
    We appreciate your feedback and will use it to make TZmeet better.
  </p>
  <p class="text-center">
    <a href="/" class="btn btn-primary">Return home</a>
  </p>
</div>
