<div class="container">
  {{#with alert}}
  <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {{/with}}
  <div class="alert-placeholder"></div>
  <div class="feature-header">
    <h1 class="my-3">Schedule Meetings Across Time Zones</h1>
    <p>
      Say goodbye to time zone headaches! TZmeet simplifies scheduling meetings,
      no matter where your team is. Every participant picks their ideal meeting
      time, we handle the rest.
    </p>
    <p class="my-3">
      Provide meeting details below to start scheduling availability, or
      alternatively,
      <a href="/join-schedule"
        >join an existing scheduling by providing your availability</a
      >
      <span class="help-text">(Using a meeting code shared to you)</span>.
    </p>
  </div>
  <main>
    {{> schedule-form formType="start-schedule" titleInput="true" passwordInput="true" showDuration="true" showDisplayToggle="true" }}
  </main>
</div>
