<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-5">
    <h4 class="text-center mb-4">Join an Existing Schedule</h4>
    <form action="#" class="join-schedule-form">
      <div class="form-group">
        <input
          type="text"
          class="form-control mb-3"
          placeholder="Meeting Code"
          required=""
        />
      </div>
      <div class="form-group d-flex">
        <input
          type="text"
          class="form-control mb-3"
          placeholder="Meeting Password"
          hidden=""
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success py-2 w-100">
          Start Scheduling
        </button>
      </div>
    </form>
  </div>
</div>
