<div class="join-schedule-form-container row justify-content-center mt-5">
  <div class="col-md-6 col-lg-5">
    <h4 class="text-center mb-4">Join an Existing Schedule</h4>
    <form action="#" class="join-schedule-form">
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          name="meeting-code"
          placeholder="Meeting Code"
          {{#if meetingCode}}
            value="{{ meetingCode }}"
            disabled
          {{/if}}
        required="" />
      </div>
      
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          name="meeting-password"
          placeholder="Meeting Password"
          autocomplete="off"
          {{#if requiresPassword}}
            required
          {{else}}
            hidden
            disabled
          {{/if}}
        />
        {{#if requiresPassword}}
          <div class="help-text d-block">
            Enter the meeting password provided by the host to join the schedule.
          </div>
        {{/if}}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success py-2 w-100">
          Join Schedule
        </button>
      </div>
    </form>
  </div>
</div>
