<div class="container my-3">
  <h1>Terms of Service</h1>

  <p>
    Welcome to TZmeet! By accessing or using our website located at
    <a href="https://tzmeet.com">https://tzmeet.com</a> (the "Site"), you agree
    to comply with and be bound by the following terms and conditions of use.
    Please read these Terms of Service carefully before using the Site.
  </p>

  <h4>Use of the Site</h4>
  <p>By accessing or using the Site, you agree to:</p>
  <ol>
    <li>
      Use the Site solely for lawful purposes and in accordance with these Terms
      of Service.
    </li>
    <li>Provide accurate and complete information when using the Site.</li>
    <li>
      Respect the rights of other users and refrain from engaging in any conduct
      that restricts or inhibits anyone's use or enjoyment of the Site.
    </li>
  </ol>

  <h4>Intellectual Property Rights</h4>
  <p>
    All content and materials available on the Site, including but not limited
    to text, graphics, logos, button icons, images, audio clips, and software,
    are the property of TZmeet or its licensors and are protected by copyright,
    trademark, and other intellectual property laws.
  </p>

  <h4>Limitation of Liability</h4>
  <p>
    In no event shall TZmeet, its officers, directors, employees, or agents be
    liable for any indirect, incidental, special, consequential, or punitive
    damages, including without limitation, loss of profits, data, use, goodwill,
    or other intangible losses, resulting from:
  </p>
  <ul>
    <li>The use or inability to use the Site.</li>
    <li>Unauthorized access to or alteration of your transmissions or data.</li>
    <li>Any other matter relating to the Site.</li>
  </ul>

  <h4>Changes to Terms of Service</h4>
  <p>
    We reserve the right to update or change these Terms of Service at any time.
    Any changes will be effective immediately upon posting the revised Terms of
    Service on the Site.
  </p>

  <h4>Termination</h4>
  <p>
    We may terminate or suspend access to the Site immediately, without prior
    notice or liability, for any reason whatsoever, including without limitation
    if you breach these Terms of Service.
  </p>

  <h4>Governing Law</h4>
  <p>
    These Terms of Service shall be governed by and construed in accordance with
    the laws of Vaud, Switzerland, without regard to its conflict of law
    principles.
  </p>

  <h4>Contact Us</h4>
  <p>
    If you have any questions or concerns about these Terms of Service, please
    <a href="/feedback">contact us</a>.
  </p>

  <p>These Terms of Service were last updated on Mar 8, 2024.</p>
</div>
