<fieldset>
  <legend>Meeting details</legend>
  <div class="meeting-details-container row">
    <div class="col-md-6 mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Meeting title*"
        aria-label="Meeting title"
        required
      />
    </div>
    <div class="col-md-6 mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Your Name*"
        aria-label="Your Name"
        required
      />
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Meeting password"
        aria-label="Meeting password"
        required
      />
      <p class="help-text">Participants will use this to access their schedule
        selection (optional).</p>
    </div>
  </div>
</fieldset>