<fieldset id="time-zone-field">
  <legend>Current time and time zone</legend>
  <div class="time-preference-container row align-items-start">
    <div class="time-zone-container col-lg-6 mb-3 mb-md-0">
      <label for="time-zone-input">Your time zone</label>
      <div id="time-zone-select">
        <input type="text" id="zone-name" hidden="hidden" name="zone-name">
        <input
          class="form-control"
          type="text"
          id="time-zone-input"
        />
        <span class="btn btn-light d-flex align-items-center"><i class="bi bi-chevron-down"></i></span>
      </div>
      <ul id="time-zone-list" class="hidden">
        <li class="help-text">Enter country, city or time zone name...</li>
      </ul>
      <div>

      </div>
    </div>
    <div class="col-lg-4">
      <div>Your current time</div>
      <div class="current-time-container">
        <div class="time-now">
          <span class="hour"></span>
          <span class="second">:</span>
          <span class="minute"></span>
          <span class="meridiem text-small"></span>
        </div>
        <div class="btn-group time-format-toggle" role="group">
          <input
            type="radio"
            id="format-12"
            class="btn-check"
            name="time-format"
            value="12"
          />
          <label class="btn" for="format-12">12</label>

          <input
            type="radio"
            id="format-24"
            class="btn-check"
            name="time-format"
            value="24"
          />
          <label class="btn" for="format-24">24</label>
        </div>
      </div>
    </div>

  </div>
  <p class="help-text">This is automatically calculated. You can change it if
    it is not your current time and time zone.</p>
</fieldset>